/* Import global color variables */
@import "./globalColor";

/* Define new gradient variables */
$gradient1: #F8BBD0;
$gradient2: #F06292;

.App {
  /* Add a background gradient */
  background-image: linear-gradient(to right, $gradient1, $gradient2);

  text-align: center;
  width: 100%;
  overflow-x: hidden;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: $appHeaderBG;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(0.625rem + 2vmin);
  color: $textColorDark;
}

.App-link {
  color: $appLink;
}

.subTitle {
  color: $subTitle;
}
