@font-face {
  font-family: "Open Sans";
  src: url("./assets/fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "League Spartan";
  src: url("./assets/fonts/LeagueSpartan-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

code {
  font-family: "Open Sans", Consolas, "Courier New", monospace;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-size: 1rem;
  font-family: "Montserrat", "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "League Spartan", sans-serif;
}

/* Media Query */
@media (max-width: 1380px) {
  html,
  body {
    font-size: 1rem;
    line-height: normal;
  }
}
